*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/example/ext01d1840/expert/xtHaberDetay.java
*.xml
app/src/main/java/com/example/ext01d1840/expert/xtHaberDetay.java
